<div class="hero-unit">
	<h3>The Easiest Contact Form for Shopify</h3>
	<p> The days of giving clients your email address are long gone. 
	Nowadays, contact forms are far more convenient way for people to get in touch with a company. 
	A contact form provides visitors to your site the EASIEST way to reach out to you.
	</p>
	<hr/>
	<p><a href="#"><button class="btn btn-primary btn-large" type="submit">Install now!</button></a></p>
</div>

<div>
	<h2>Light</h2>
	<p>description1</p>
	<h2>Effective</h2>
	<p>description2</p>
	<h2>Nimble</h2>
	<p>description3</p>
</div>