<div class="hero-unit">
	<h1> Quick Contact Form</h1>
	<h3>The Easiest Contact Form for Shopify</h3>
	
	<hr/>
	<p><a href="http://apps.shopify.com/quick-contact-form"><button class="btn btn-primary btn-large" type="submit">Install now!</button></a></p>
</div>
<p class="lead"> The days of giving clients your email address are long gone. 
	Nowadays, contact forms are far more convenient way for people to get in touch with a company. 
	A contact form provides visitors to your site the EASIEST way to reach out to you.
	</p>
	<h3> How It Works </h3>
	<p class="lead"> This application will install a small button the left hand of your shop page. Once clicked the button will prompt a 
	window to open. Inside this window is a contact form that allows the customer to write a short message that will be sent directly to your email.
	
<div>
	
</div>